<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>go-scheduler</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${request.contextPath}/static/layuimini/lib/layui-v2.6.3/css/layui.css"
          media="all">
    <link rel="stylesheet" href="${request.contextPath}/static/layuimini/css/public.css" media="all">
    <script type="text/javascript" src="${request.contextPath}/static/layuimini/js/common.js"></script>
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form" lay-filter="form-data">
    <div class="layui-form-item">
        <label class="layui-form-label required">角色名称</label>
        <div class="layui-input-block">
            <input type="text" name="roleName" disabled="disabled" readonly="readonly" id="roleName"
                   lay-verify="required" lay-reqtext="不能为空且不能包含中文"
                   placeholder="请输入角色名称"
                   value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">角色描述</label>
        <div class="layui-input-block">
            <input type="text" name="roleDesc" id="roleDesc" placeholder="请输入角色描述"
                   value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">访问菜单</label>
        <div class="layui-input-block">
            <input type="text" name="permissionMenus" id="permissionMenus" placeholder="请输入" autocomplete="off"
                   class="layui-input" value="" ts-selected="">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="${request.contextPath}/static/layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="${request.contextPath}/static/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['form', 'tableSelect', 'seaFun'], function () {
        var form = layui.form,
            layer = layui.layer,
            seaFun = layui.seaFun,
            $ = layui.$,
            tableSelect = layui.tableSelect;
        var user = seaFun.queryAuthUser();
        tableSelect.render({
            elem: '#permissionMenus',
            checkedKey: 'name',
            height: '450',
            width: '400',
            table: {
                headers: {"auth0": user.authToken},
                url: '${request.contextPath}/jobmenu/pageList',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'menuName', title: '名称', width: 150},
                    {field: 'title', title: '标题', width: 200},
                    {
                        field: 'operator', title: '菜单', templet: function (data) {
                            if (data.operator === true) {
                                return '<span class="layui-btn layui-btn-primary layui-btn-xs layui-border-green">否</span>';
                            } else {
                                return '<span class="layui-btn layui-btn-primary layui-btn-xs layui-border-blue">是</span>';
                            }
                        }
                    },
                ]]
            },
            done: function (elem, data) {
                var NEWJSON = []
                layui.each(data.data, function (index, item) {
                    NEWJSON.push(item.menuName)
                })
                elem.val(NEWJSON.join(","))
            }
        });
        $.ajax({
            type: "GET",
            async: false,
            headers: {"auth0": user.authToken},
            url: "${request.contextPath}/jobrole/loadByRoleName?roleName=" + getQueryString("roleName"),
            dataType: "json",
            success: function (data) {
                $("#roleName").val(data.content.roleName);
                $("#roleDesc").val(data.content.roleDesc);
                $("#permissionMenus").val(data.content.permissionMenus);
                $("#permissionMenus").attr("ts-selected", data.content.permissionMenus);
            }
        });

        form.render();
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                type: "POST",
                async: false,
                headers: {"auth0": user.authToken},
                url: "${request.contextPath}/jobrole/update",
                data: JSON.stringify({
                    "roleName": data.field.roleName,
                    "roleDesc": data.field.roleDesc,
                    "permissionMenus": data.field.permissionMenus,
                }),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.code !== 200) {
                        layer.alert("编辑失败【" + data.msg + "】", {
                            title: '操作结果',
                            icon: 2
                        }, function () {
                        });
                        return
                    }
                    var index = layer.alert("编辑成功", {
                        title: '操作结果',
                        icon: 1
                    }, function () {
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);
                    });
                }
            });
            return false;
        });
    });
</script>
</body>
</html>