<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>go-scheduler</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${request.contextPath}/static/layuimini/lib/layui-v2.6.3/css/layui.css"
          media="all">
    <link rel="stylesheet" href="${request.contextPath}/static/layuimini/css/public.css" media="all">
    <script type="text/javascript" src="${request.contextPath}/static/layuimini/js/common.js"></script>
    <script type="text/javascript" src="${request.contextPath}/static/layuimini/js/base64.js"></script>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">日志ID</label>
                            <div class="layui-input-inline">
                                <input type="text" name="logId" id="logId" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">执行器</label>
                            <div class="layui-input-inline">
                                <select name="appName" id="appName" class="layui-select" lay-search>
                                    <option value="" selected="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">任务ID</label>
                            <div class="layui-input-inline">
                                <input type="text" name="jobId" id="jobId" autocomplete="off" class="layui-input"
                                       lay-filter="jobSearch">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">调度时间</label>
                            <div class="layui-input-inline">
                                <input type="text" name="triggerStartTime" id="triggerStartTime"
                                       lay-verify="triggerStartTime" placeholder="开始时间"
                                       autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline">
                                <input type="text" name="triggerEndTime" id="triggerEndTime" lay-verify="triggerEndTime"
                                       placeholder="结束时间" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <button type="reset" class="layui-btn layui-btn-primary">
                                    重置
                                </button>
                                <button type="submit" class="layui-btn layui-btn-normal" lay-submit
                                        lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>
<script src="${request.contextPath}/static/layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="${request.contextPath}/static/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['form', 'table', 'laydate', 'seaFun'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            seaFun = layui.seaFun,
            laydate = layui.laydate;
        var nowDate = new Date();
        var y = nowDate.getFullYear();
        var m = nowDate.getMonth() + 1;
        var d = nowDate.getDate() + 7;

        var max = y + "-" + m + "-" + d;
        // 获取三个月前时间
        nowDate.setMonth(nowDate.getMonth() - 3);
        var yB = nowDate.getFullYear();
        var mB = nowDate.getMonth() + 1;
        var dB = nowDate.getDate();
        var min = yB + "-" + mB + "-" + dB;
        //日期
        laydate.render({
            elem: '#triggerStartTime',
            type: 'datetime',
            max: max,
            min: min,
            format: 'yyyy-MM-dd HH:mm:ss',
            value: new Date((new Date() / 1000 - 86400 * 7) * 1000)
        });
        laydate.render({
            elem: '#triggerEndTime',
            type: 'datetime',
            max: max,
            min: min,
            format: 'yyyy-MM-dd HH:mm:ss',
            value: new Date((new Date() / 1000 + 86400) * 1000)
        });
        var user = seaFun.queryAuthUser();
        var permissionJobGroups = [];
        $.ajax({
            type: "GET",
            async: false,
            headers: {"auth0": user.authToken},
            url: "${request.contextPath}/jobusergroup/loadPermissionJobGroupsByNames?groupNames=" + user.permissionGroups,
            dataType: "json",
            success: function (data) {
                if (data.code === 200) {
                    permissionJobGroups = permissionJobGroups.concat(data.content);
                }
            }
        });
        var jobGroupArr = [];
        $.ajax({
            type: "GET",
            async: false,
            headers: {"auth0": user.authToken},
            url: "${request.contextPath}/jobgroup/loadFullByAppNames?appNames=" + permissionJobGroups + "&page=1&limit=9999",
            dataType: "json",
            success: function (data) {
                if (data.code === 200) {
                    for (var i = 0; i < data.data.length; i++) {
                        jobGroupArr.push(data.data[i].id);
                        $("#appName").append("<option value='" + data.data[i].id + "'>" + data.data[i].appname + "</option>");
                        form.render("select");
                    }
                }
            }
        });
        var jobId = getQueryString("jobId") === null ? -1 : getQueryString("jobId");
        if (jobId > 0) {
            $("#jobId").val(jobId);
        }
        var logTable = table.render({
            elem: '#currentTableId',
            headers: {"auth0": user.authToken},
            url: '${request.contextPath}/delay/pageList',
            method: "get",
            cols: [[
                {
                    field: 'id', width: 190, title: 'id', sort: true, fixed: 'left', hide: true,
                },
                {
                    field: 'jobLogId', width: 190, title: '日志ID', sort: true, fixed: 'left'
                },
                {
                    field: 'jobName', title: '任务名称', width: 200, event: "queryJobInfo", templet: function (data) {
                        return "<a href='javascript:' style='color:#0084e9;font-weight: bold'>" + data.jobId + "-" + data.jobName + "</a>";
                    }
                },
                {field: 'startExecutorToleranceThresholdInMin',  title: '启动运行阈值(min)'},
                {field: 'logDate', title: '调度时间'},
                {field: 'startExecutorDate', title: '开始执行时间'},
                {field: 'timeElapseInMs',  title: '耗时(ms)'},
                {field: 'address',  title: '调度地址'},
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'line',
            where: {
                "filterTime": new Date((new Date() / 1000 - 86400 * 7) * 1000).format("yyyy-MM-dd HH:mm:ss") + ' - ' +new Date((new Date() / 1000 + 86400) * 1000).format("yyyy-MM-dd HH:mm:ss"),
                "jobId": jobId,
                "jobGroups": jobGroupArr.join(","),
            }
        });
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var logId = data.field.logId;
            let jobGroups;
            if (data.field.appName != null && data.field.appName !== "") {
                jobGroups = data.field.appName;
            } else {
                jobGroups = jobGroupArr.join(",");
            }
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                },
                headers: {"auth0": user.authToken},
                where: {
                    "jobId": data.field.jobId,
                    "logId": logId,
                    "filterTime": data.field.triggerStartTime + " - " + data.field.triggerEndTime,
                    "jobGroups": jobGroups,
                }
            }, 'data');
            return false;
        });
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'queryJobInfo') {
                layer.open({
                    title: '任务明细',
                    type: 2,
                    shade: 0.2,
                    shadeClose: true,
                    area: ['75%', '80%'],
                    content: '${request.contextPath}/jobinfo/detail?id=' + data.jobId,
                });
            }
        });

    });
</script>

</body>
</html>