<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>go-scheduler</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${request.contextPath}/static/layuimini/lib/layui-v2.6.3/css/layui.css"
          media="all">
    <link rel="stylesheet" href="${request.contextPath}/static/layuimini/css/public.css" media="all">
    <link rel="stylesheet"
          href="${request.contextPath}/static/layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css"
          media="all">
    <script type="text/javascript" src="${request.contextPath}/static/layuimini/js/common.js"></script>
    <script type="text/javascript" src="${request.contextPath}/static/layuimini/js/base64.js"></script>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">平台名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="platformName" id="platformName" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">环境</label>
                            <div class="layui-input-inline">
                                <input type="text" name="env" id="env" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">区域</label>
                            <div class="layui-input-inline">
                                <input type="text" name="region" id="region" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="reset" class="layui-btn layui-btn-primary ">重置</button>
                            <button type="submit" class="layui-btn layui-btn-normal" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                {{# if (jobPlatformPermissionOp.contains("platform_manager_add")){ }}
                <button class="layui-btn layui-btn-normal layui-btn-xs data-add-btn" lay-event="add">添加</button>
                {{# } }}
            </div>
        </script>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <div class="layui-btn-group">
                {{# if(d.platStatus != 0 ){ }}
                {{# if (jobPlatformPermissionOp.contains("platform_manager_start")){ }}
                <a class="layui-btn layui-btn-xs layui-btn-primary " lay-event="stop">停用</a>
                {{# } }}
                {{# } else { }}
                {{# if (jobPlatformPermissionOp.contains("platform_manager_stop")){ }}
                <a class="layui-btn layui-btn-xs layui-btn-primary " lay-event="start">启用</a>
                {{# } }}
                {{# } }}
                {{# if (jobPlatformPermissionOp.contains("platform_manager_edit")){ }}
                <a class="layui-btn layui-btn-xs layui-btn-primary data-count-edit" lay-event="edit">编辑</a>
                {{# } }}
                {{# if (jobPlatformPermissionOp.contains("platform_manager_delete")){ }}
                <a class="layui-btn layui-btn-danger layui-btn-xs  data-count-delete" lay-event="delete">删除</a>
                {{# } }}
            </div>
        </script>
    </div>
</div>
<script src="${request.contextPath}/static/layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="${request.contextPath}/static/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['form', 'table', 'element', 'miniTab', 'seaFun'], function () {
        var $ = layui.jquery,
            form = layui.form,
            seaFun = layui.seaFun,
            table = layui.table;
        var user = seaFun.queryAuthUser();
        // --------------------------操作控制start--------------------------
        $.ajax({
            type: "GET",
            async: false,
            headers: {"auth0": user.authToken},
            url: "${request.contextPath}/jobrole/loadOp?parent=platform_manage&roleName=" + user.roleName,
            dataType: "json",
            success: function (data) {
                if (data.code === 200) {
                    for (var i = 0; i < data.content.length; i++) {
                        jobPlatformPermissionOp.push(data.content[i].menuName);
                    }
                }
            }
        });
        var platformTable = table.render({
            elem: '#currentTableId',
            headers: {"auth0": user.authToken},
            url: '${request.contextPath}/jobplatform/pageList',
            method: "get",
            toolbar: '#toolbar',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {field: 'id', title: 'ID', sort: true, fixed: 'left'},
                {field: 'platformName', title: '平台名称', fixed: 'left', width: 150},
                {field: 'platformDesc', title: '平台描述', fixed: 'left', width: 150},
                {field: 'platformAddress', title: '地址'},
                {field: 'env', title: '环境'},
                {field: 'region', title: '区域'},
                {
                    field: 'platStatus', title: '状态', templet: function (data) {
                        if (data.platStatus === 1) {
                            return '<span class="layui-btn layui-btn-primary layui-btn-xs layui-border-blue">启用</span>';
                        } else {
                            return '<span class="layui-btn layui-btn-primary layui-btn-xs layui-border-red">停用</span>';
                        }
                    }
                },
                {field: 'author', title: '操作人'},
                {field: 'updateTime', title: '更新时间'},
                {title: '操作', minWidth: 160, toolbar: '#currentTableBar', align: "center", fixed: 'right'}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'line',
            done: function (res, curr, count) {
                $('th').css({'font-weight': 'bold'});
            }
        });
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                },
                headers: {"auth0": user.authToken},
                where: {
                    "platformName": data.field.platformName,
                    "env": data.field.env,
                    "region": data.field.region,
                }
            }, 'data');
            return false;
        });
        table.on('tool(currentTableFilter)', function (obj) {
            if (obj.event === 'edit') {
                var index = layer.open({
                    title: '编辑',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['60%', '80%'],
                    content: 'edit?platformName=' + obj.data.platformName,
                    end: function () {
                        location.reload();
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'start') {
                layer.confirm('确认启用', {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        type: "GET",
                        async: false,
                        headers: {"auth0": user.authToken},
                        url: "${request.contextPath}/jobplatform/start?platformName=" + obj.data.platformName,
                        success: function (data) {
                            if (data.code !== 200) {
                                layer.alert(data.msg, {
                                    title: '失败',
                                    type: 1
                                });
                            }
                        },
                    });
                    layer.close(index);
                    //执行搜索重载
                    table.reload('currentTableId', {
                        headers: {"auth0": user.authToken},
                        where: {
                            "platformName": $("#platformName").val(),
                            "env": $("#env").val(),
                            "region": $("#region").val(),
                        }
                    }, 'data');
                });
                return false;
            } else if (obj.event === 'stop') {
                layer.confirm('确认停用', {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        type: "GET",
                        async: false,
                        headers: {"auth0": user.authToken},
                        url: "${request.contextPath}/jobplatform/stop?platformName=" + obj.data.platformName,
                        success: function (data) {
                            if (data.code !== 200) {
                                layer.alert(data.msg, {
                                    title: '失败',
                                    type: 1
                                });
                            }
                        },
                    });
                    layer.close(index);
                    //执行搜索重载
                    table.reload('currentTableId', {
                        page: {
                            curr: platformTable.config.page.curr,
                        },
                        headers: {"auth0": user.authToken},
                        where: {
                            "platformName": $("#platformName").val(),
                            "env": $("#env").val(),
                            "region": $("#region").val(),
                        }
                    }, 'data');
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('确认删除', {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        type: "GET",
                        async: false,
                        headers: {"auth0": user.authToken},
                        url: "${request.contextPath}/jobplatform/remove?platformName=" + obj.data.platformName,
                        success: function (data) {
                            if (data.code !== 200) {
                                layer.alert(data.msg, {
                                    title: '失败',
                                    icon: 3
                                });
                            }
                        },
                    });
                    layer.close(index);
                    //执行搜索重载
                    table.reload('currentTableId', {
                        page: {
                            curr: platformTable.config.page.curr,
                        },
                        headers: {"auth0": user.authToken},
                        where: {
                            "platformName": $("#platformName").val(),
                            "env": $("#env").val(),
                            "region": $("#region").val(),
                        }
                    }, 'data');
                });
                return false;
            }
        });
        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '新建',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['60%', '80%'],
                    content: 'add',
                    end: function () {
                        location.reload();
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });

    });
</script>

</body>
</html>