<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>go-scheduler</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${request.contextPath}/static/layuimini/lib/layui-v2.6.3/css/layui.css"
          media="all">
    <link rel="stylesheet" href="${request.contextPath}/static/layuimini/css/public.css" media="all">
    <script type="text/javascript" src="${request.contextPath}/static/layuimini/js/common.js"></script>
    <script type="text/javascript" src="${request.contextPath}/static/layuimini/js/base64.js"></script>
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <form class="layui-form " action="">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
            <legend>基础设置</legend>
        </fieldset>
        <div class="layui-form-item" style="margin-top: 20px;">
            <div class="layui-inline">
                <label class="layui-form-label required"><label
                        style="color: red;padding-right: 4px">*</label>执行器</label>
                <div class="layui-input-inline" style="width: 260px">
                    <select name="jobGroup" id="jobGroup" class="layui-select" lay-search lay-verify="required"
                            placeholder="请选择">
                        <option value="" selected=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><label style="color: red;padding-right: 4px">*</label>任务名称</label>
                <div class="layui-input-inline" style="width: 300px">
                    <input type="text" name="jobName" id="jobName" lay-verify="required" autocomplete="off"
                           placeholder="格式：英文、下划线、数字组合"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><label style="color: red;padding-right: 4px">*</label>负责人</label>
                <div class="layui-input-inline" style="width: 250px">
                    <input type="text" name="author" id="author" lay-verify="required" autocomplete="off"
                           placeholder="请输入负责人邮箱"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">任务描述</label>
            <div class="layui-input-block">
                <input type="text" name="jobDesc" id="jobDesc" lay-verify="required" placeholder="请输入任务描述"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><label style="color: red;padding-right: 4px">*</label>调度类型</label>
                <div class="layui-input-inline" style="width: 260px">
                    <select name="scheduleType" id="scheduleType" placeholder="请选择"
                            lay-filter="scheduleType">
                        <option value="NONE">无</option>
                        <option value="CRON">Cron</option>
                        <option value="FIX_RATE">固定速度</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" id="scheduleConfLabel" style="display: none">调度配置</label>
                <div class="layui-input-inline" style="width: 300px">
                    <input type="text" name="scheduleConf" id="scheduleConf" style="display: none"
                           autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux" id="scheduleConfCron" style="display: none">cron表达式格式例如: * *
                    * * * ? *
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><label style="color: red;padding-right: 4px">*</label>运行模式</label>
                <div class="layui-input-inline" style="width: 260px">
                    <select name="glueType" id="glueType" placeholder="请选择" lay-verify="required">
                        <option value="BEAN">Go</option>
                        <option value="GLUE_SHELL">Shell</option>
                        <option value="GLUE_PYTHON">Python</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><label style="color: red;padding-right: 4px">*</label>JobHandler</label>
                <div class="layui-input-inline" style="width: 300px">
                    <input type="text" name="executorHandler" id="executorHandler" lay-verify="required"
                           placeholder="业务回调方法"
                           autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 90px"><label
                        style="color: red;padding-right: 4px">*</label>路由策略</label>
                <div class="layui-input-inline" style="width: 250px">
                    <select name="executorRouteStrategy" placeholder="请选择"
                            lay-filter="executorRouteStrategy">
                        <option value="ROUND">轮询</option>
                        <option value="FIRST">第一个</option>
                        <option value="LAST">最后一个</option>
                        <option value="RANDOM">随机</option>
                        <option value="CONSISTENT_HASH">一致性HASH</option>
                        <option value="LEAST_FREQUENTLY_USED">最不经常使用</option>
                        <option value="LEAST_RECENTLY_USED">最近经常使用</option>
                        <option value="FAILOVER">故障转移</option>
                        <option value="BUSYOVER">忙碌转移</option>
                        <option value="SHARDING_BROADCAST">分片广播</option>
                        <option value="MIN_MEMORY_STAT">内存使用率最小</option>
                        <option value="MIN_CPU_STAT">CPU使用率最小</option>
                        <option value="MIN_LOAD_STAT">负载最低</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline" id="shardingTypeItem" style="display:none">
                <label class="layui-form-label" style="width: 90px">分片模式</label>
                <div class="layui-input-inline" style="width: 250px">
                    <select name="shardingType" id="shardingType" placeholder="请选择"
                            lay-filter="shardingType">
                        <option value="0">执行器节点数</option>
                        <option value="1">自定义节点数</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline" id="shardingNumItem" style="display:none">
                <label class="layui-form-label" style="width: 90px">分片数量</label>
                <div class="layui-input-inline" style="width: 250px">
                    <input type="text" name="shardingNum" id="shardingNum" autocomplete="off"
                           placeholder="请输入不大于100的整数"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 95px"><label
                        style="color: red;padding-right: 4px">*</label>调度过期策略</label>
                <div class="layui-input-inline" style="width: 250px">
                    <select name="misfireStrategy" id="misfireStrategy" placeholder="请选择" lay-verify="required">
                        <option value="DO_NOTHING">忽略</option>
                        <option value="FIRE_ONCE_NOW">立即执行一次</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 95px"><label
                        style="color: red;padding-right: 4px">*</label>阻塞处理策略</label>
                <div class="layui-input-inline" style="width: 250px">
                    <select name="executorBlockStrategy" id="executorBlockStrategy" placeholder="请选择"
                            lay-verify="required">
                        <option value="SERIAL_EXECUTION">单机串行</option>
                        <option value="CONCURRENT_EXECUTION">单机并行</option>
                        <option value="DISCARD_LATER">丢弃后续任务</option>
                        <option value="COVER_EARLY">覆盖前一任务</option>
                    </select>
                </div>
            </div>
        </div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>告警设置</legend>
        </fieldset>
        <div class="layui-form-item">
            <div class="layui-form-item">
                <label class="layui-form-label"><label style="color: red;padding-right: 2px">*</label>预警seatalk</label>
                <div class="layui-input-block">
                    <input type="text" name="alarmSeatalk" value="" class="layui-input" placeholder="为空则和执行器seatalk配置一致"
                           lay-verify="required">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">报警邮件</label>
                <div class="layui-input-block" style="width: 250px">
                    <input type="text" name="alarmEmail" id="alarmEmail" autocomplete="off"
                           placeholder="请输出报警邮件，多个邮件地址逗号分割"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 90px">告警电话</label>
                <div class="layui-input-inline" style="width: 700px">
                    <input type="text" name="voiceAlarmTels" id="voiceAlarmTels"
                           autocomplete="off" placeholder="nonlive慎用，多个电话使用,分割，仅支持大陆电话，且电话不需要86前缀"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 90px">执行耗时告警</label>
                <div class="layui-input-inline" style="width: 250px">
                    <input type="text" name="executorThreshold" id="executorThreshold"
                           autocomplete="off" placeholder="单位秒"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 90px">启动超时阈值</label>
                <div class="layui-input-inline">
                    <input type="number" name="startExecutorToleranceThresholdInMin"
                           id="startExecutorToleranceThresholdInMin" autocomplete="off"
                           placeholder="请输入正整数"
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">分钟.如果任务启动运行的时刻减任务下发时间>阈值则告警.0表示没有限制</div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 90px">重试告警静默</label>
                <div class="layui-input-inline" style="width: 250px">
                    <input type="radio" name="finalFailedSendAlarm" id="finalFailedSendAlarm1" value="true" title="打开">
                    <input type="radio" name="finalFailedSendAlarm" id="finalFailedSendAlarm2" value="false" title="关闭"
                           checked="">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 90px">告警静默</label>
                <div class="layui-input-inline">
                    <input type="number" name="alarmSilence" id="alarmSilence" autocomplete="off"
                           placeholder=""
                           class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">单位(分钟).在静默期内，多次失败只会告警一次</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px">已运行告警</label>
            <div class="layui-input-inline">
                <input type="radio" name="taskRunningAlarm" id="taskRunningAlarm1" value="true" title="打开"
                       checked="">
                <input type="radio" name="taskRunningAlarm" id="taskRunningAlarm2" value="false" title="关闭">
            </div>
            <div class="layui-form-mid layui-word-aux">关闭此开关，重复下发的任务不会在触发告警</div>
        </div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>高级设置</legend>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label">父任务传参</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <input type="radio" name="paramFromParent" id="paramFromParent1" value="true" title="启用"
                           lay-filter="paramFromParent">
                    <input type="radio" name="paramFromParent" id="paramFromParent2" value="false" title="禁用"
                           checked="" lay-filter="paramFromParent">
                </div>
                <div class="layui-form-mid layui-word-aux">启用时，任务参数来自父任务，自身参数不可编辑</div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">任务参数</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入任务参数" class="layui-textarea" name="executorParam"
                          id="executorParam"></textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">附加参数</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入附加参数" class="layui-textarea" name="additionalParams"
                          id="additionalParams"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 90px">子任务ID</label>
                <div class="layui-input-inline" style="width: 250px">
                    <input type="text" name="childJobId" id="childJobId" autocomplete="off"
                           placeholder="多个使用逗号分割"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 90px">超时取消时间</label>
                <div class="layui-input-inline" style="width: 250px">
                    <input type="text" name="executorTimeout" id="executorTimeout"
                           autocomplete="off" placeholder="单位秒，大于0时生效"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 90px">失败重试策略</label>
                <div class="layui-input-inline" style="width: 250px">
                    <select name="retryType" id="retryType" placeholder="请选择" lay-filter="retryType">
                        <option value=""></option>
                        <option value="1">固定频率模式</option>
                        <option value="2">用户自定义模式</option>
                        <option value="3">指数退避模式</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 90px">重试策略参数</label>
                <div class="layui-input-inline" style="width: 250px">
                    <input type="text" name="retryConf" id="retryConf" autocomplete="off"
                           placeholder="请输入整数"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 90px">失败重试次数</label>
                <div class="layui-input-inline" style="width: 250px">
                    <input type="text" name="executorFailRetryCount" id="executorFailRetryCount" autocomplete="off"
                           placeholder="请输入整数"
                           class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px">任务下发阈值</label>
            <div class="layui-input-inline">
                <input type="text" name="dispatchThreshold" id="dispatchThreshold" autocomplete="off"
                       placeholder="请输入小于5000整数"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">单位(每秒),仅在启用"参数来自父任务"时才生效，为0时表示无限制</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px">日志保留天数</label>
            <div class="layui-input-inline">
                <input type="text" name="logRetentionDays" id="logRetentionDays" autocomplete="off"
                       placeholder="请输入"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">保留时间为MIN(设置时间，系统时间)，为0表示为系统时间</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px">调度结果回查</label>
            <div class="layui-input-inline">
                <input type="radio" name="resultCheck" id="resultCheck1" value="true" title="启用">
                <input type="radio" name="resultCheck" id="resultCheck2" value="false" title="禁用" checked="">
            </div>
            <div class="layui-form-mid layui-word-aux">启用时，需要业务重写</div>
        </div>
<!--        <div class="layui-form-item">-->
<!--            <div class="layui-inline">-->
<!--                <label class="layui-form-label" style="width: 90px">延迟执行 </label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="radio" name="delay" id="delay2" value="true" title="延迟" lay-filter="delay">-->
<!--                    <input type="radio" name="delay" id="delay1" value="false" title="不延迟" checked-->
<!--                           lay-filter="delay">-->
<!--                </div>-->
<!--                <div class="layui-form-mid layui-word-aux">仅在有父任务时生效</div>-->
<!--            </div>-->
<!--            <div class="layui-inline" style="display: none" id="delayInMsItem">-->
<!--                <label class="layui-form-label" style="width: 90px">延迟时间</label>-->
<!--                <div class="layui-input-inline" style="width: 250px">-->
<!--                    <input type="text" name="delayInMs" id="delayInMs"-->
<!--                           autocomplete="off" placeholder="单位毫秒，大于0时生效"-->
<!--                           class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px">等待父任务 </label>
            <div class="layui-input-inline">
                <input type="radio" name="beginAfterParent" id="beginAfterParent1" value="true" title="等待">
                <input type="radio" name="beginAfterParent" id="beginAfterParent2" value="false" title="不等待"
                       checked="">
            </div>
            <div class="layui-form-mid layui-word-aux">类型为等待时，只有在父任务结束后，才启动子任务，不支持多父任务场景</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="saveBtn">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script src="${request.contextPath}/static/layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="${request.contextPath}/static/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['form', 'seaFun'], function () {
        var form = layui.form,
            layer = layui.layer,
            seaFun = layui.seaFun,
            $ = layui.$;
        var user = seaFun.queryAuthUser();
        var permissionJobGroups = [];
        $.ajax({
            type: "GET",
            async: false,
            headers: {"auth0": user.authToken},
            url: "${request.contextPath}/jobusergroup/loadPermissionJobGroupsByNames?groupNames=" + user.permissionGroups,
            dataType: "json",
            success: function (data) {
                if (data.code === 200) {
                    permissionJobGroups = permissionJobGroups.concat(data.content);
                }
            }
        });
        var jobGroupArr = [];
        $.ajax({
            type: "GET",
            async: false,
            headers: {"auth0": user.authToken},
            url: "${request.contextPath}/jobgroup/loadFullByAppNames?appNames=" + permissionJobGroups + "&page=1&limit=9999",
            dataType: "json",
            success: function (data) {
                if (data.code === 200) {
                    for (var i = 0; i < data.data.length; i++) {
                        jobGroupArr.push(data.data[i].id);
                        $("#jobGroup").append("<option value='" + data.data[i].id + "'>" + data.data[i].appname + "</option>");
                        form.render("select");
                    }
                }
            }
        });
        form.render();
        form.on('radio(paramFromParent)', function (data) {
            var isParamFromParent = data.value;
            if (isParamFromParent === 'true') {
                $("#executorParam").val("");
                $("#executorParam").attr("disabled", "disabled");
                $("#executorParam").attr("readonly", "readonly");
            } else {
                $("#executorParam").removeAttr("disabled");
                $("#executorParam").removeAttr("readonly");
            }
        });
        form.on('select(scheduleType)', function (data) {
            var scheduleTypeNew = data.value;
            if (scheduleTypeNew === 'NONE') {
                $("#scheduleConf").css('display', 'none');
                $("#scheduleConfCron").css('display', 'none');
                $("#scheduleConfLabel").css('display', 'none');
                $("#scheduleConf").removeAttr("lay-verify");
            } else if (scheduleTypeNew === 'CRON') {
                $("#scheduleConf").css('display', 'block');
                $("#scheduleConfCron").css('display', 'block');
                $("#scheduleConfLabel").css('display', 'block');
                $("#scheduleConf").attr('lay-verify', 'required');
            } else {
                $("#scheduleConf").css('display', 'block');
                $("#scheduleConfCron").css('display', 'none');
                $("#scheduleConfLabel").css('display', 'block');
                $("#scheduleConf").attr('lay-verify', 'required');
            }
        });
        form.on('select(retryType)', function (data) {
            var retryTypeNew = data.value;
            if (retryTypeNew === '1') {
                $("#retryConf").attr("placeholder", "请输入整数");
            } else if (retryTypeNew === '2') {
                $("#retryConf").attr("placeholder", "逗号分割，长度于重试次数对应");
            } else {
                $("#retryConf").attr("placeholder", "格式:指数初始值,重试最大值");
            }
        });
        // form.on('radio(delay)', function (data) {
        //     var delay = data.value;
        //     if (delay === 'true') {
        //         $("#delayInMsItem").css('display', 'inline-block');
        //     } else {
        //         $("#delayInMsItem").css('display', 'none');
        //     }
        // });
        form.on('select(executorRouteStrategy)', function (data) {
            var executorRouteStrategyNew = data.value;
            if (executorRouteStrategyNew === 'SHARDING_BROADCAST') {
                $("#shardingTypeItem").css('display', 'block');
                $("#shardingNumItem").css('display', 'none');
                $("#shardingType").attr('lay-verify', 'required');
                $("#shardingNum").removeAttr("lay-verify");
            } else {
                $("#shardingTypeItem").css('display', 'none');
                $("#shardingNumItem").css('display', 'none');
                $("#shardingType").removeAttr("lay-verify");
                $("#shardingNum").removeAttr("lay-verify");
            }
        });
        form.on('select(shardingType)', function (data) {
            var shardingTypeNew = data.value;
            if (shardingTypeNew === '1') {
                $("#shardingNumItem").css('display', 'block');
                $("#shardingNum").attr('lay-verify', 'required');
            } else if (shardingTypeNew === '0') {
                $("#shardingNumItem").css('display', 'none');
                $("#shardingNum").removeAttr("lay-verify");
            }
        });
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                type: "POST",
                async: false,
                headers: {"auth0": user.authToken},
                url: "${request.contextPath}/jobinfo/add",
                data: JSON.stringify({
                    "jobGroup": data.field.jobGroup,
                    "jobName": data.field.jobName,
                    "author": data.field.author,
                    "alarmEmail": data.field.alarmEmail,
                    "alarmSeatalk": data.field.alarmSeatalk,
                    "scheduleType": data.field.scheduleType,
                    "shardingType": data.field.shardingType,
                    "shardingNum": data.field.shardingNum,
                    "scheduleConf": data.field.scheduleConf,
                    "glueType": data.field.glueType,
                    "executorHandler": data.field.executorHandler,
                    "paramFromParent": data.field.paramFromParent,
                    "executorParam": data.field.executorParam,
                    "jobDesc": data.field.jobDesc,
                    "executorRouteStrategy": data.field.executorRouteStrategy,
                    "misfireStrategy": data.field.misfireStrategy,
                    "executorBlockStrategy": data.field.executorBlockStrategy,
                    "childJobId": data.field.childJobId,
                    "executorTimeout": data.field.executorTimeout,
                    "executorThreshold": data.field.executorThreshold,
                    "voiceAlarmTels": data.field.voiceAlarmTels,
                    "additionalParams": data.field.additionalParams,
                    "retryType": data.field.retryType,
                    "retryConf": data.field.retryConf,
                    "executorFailRetryCount": data.field.executorFailRetryCount,
                    "finalFailedSendAlarm": data.field.finalFailedSendAlarm,
                    "beginAfterParent": data.field.beginAfterParent,
                    "resultCheck": data.field.resultCheck,
                    "dispatchThreshold": data.field.dispatchThreshold,
                    "logRetentionDays": data.field.logRetentionDays,
                    "startExecutorToleranceThresholdInMin": data.field.startExecutorToleranceThresholdInMin,
                    "alarmSilence": data.field.alarmSilence,
                    "taskRunningAlarm": data.field.taskRunningAlarm,
                    // "delay": data.field.delay,
                    // "delayInMs": data.field.delayInMs,
                }),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.code !== 200) {
                        layer.alert("添加失败【" + data.msg + "】", {
                            title: '操作结果',
                            icon: 2,
                        }, function () {
                        });
                        return
                    }
                    var index = layer.alert("添加成功", {
                        title: '操作结果',
                        icon: 1
                    }, function () {
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);
                    });
                }
            });
            return false;
        });

    });
</script>
</body>
</html>