<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>go-scheduler</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${request.contextPath}/static/layuimini/lib/layui-v2.6.3/css/layui.css"
          media="all">
    <link rel="stylesheet" href="${request.contextPath}/static/layuimini/css/public.css" media="all">
    <script type="text/javascript" src="${request.contextPath}/static/layuimini/js/common.js"></script>
    <script type="text/javascript" src="${request.contextPath}/static/layuimini/js/base64.js"></script>
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form" lay-filter="form-data">
    <div class="layui-form-item">
        <label class="layui-form-label required">Api名称</label>
        <div class="layui-input-block">
            <input type="text" name="apiName" lay-verify="required" lay-reqtext="不能为空" placeholder="请输入Api名称"
                   value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" name="apiDesc" placeholder="请输入"
                   value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">执行器</label>
        <div class="layui-input-block">
            <select name="jobGroup" id="jobGroup" class="layui-select" lay-search lay-verify="required"
                    placeholder="请选择">
                <option value="" selected=""></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">Urls</label>
        <div class="layui-input-block">
            <input type="text" name="urls" id="urls" placeholder="请输入" autocomplete="off"
                   class="layui-input" value="" ts-selected="">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="${request.contextPath}/static/layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="${request.contextPath}/static/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['form', 'tableSelect', 'seaFun'], function () {
        var form = layui.form,
            layer = layui.layer,
            seaFun = layui.seaFun,
            $ = layui.$,
            tableSelect = layui.tableSelect;
        var user = seaFun.queryAuthUser();
        var permissionJobGroups = [];
        $.ajax({
            type: "GET",
            async: false,
            headers: {"auth0": user.authToken},
            url: "${request.contextPath}/jobusergroup/loadPermissionJobGroupsByNames?groupNames=" + user.permissionGroups,
            dataType: "json",
            success: function (data) {
                if (data.code === 200) {
                    permissionJobGroups = permissionJobGroups.concat(data.content);
                }
            }
        });
        $.ajax({
            type: "GET",
            async: false,
            headers: {"auth0": user.authToken},
            url: "${request.contextPath}/jobgroup/loadFullByAppNames?appNames=" + permissionJobGroups + "&page=1&limit=9999",
            dataType: "json",
            success: function (data) {
                if (data.code === 200) {
                    for (var i = 0; i < data.data.length; i++) {
                        $("#jobGroup").append("<option value='" + data.data[i].id + "'>" + data.data[i].appname + "</option>");
                        form.render("select");
                    }
                }
            }
        });
        tableSelect.render({
            elem: '#urls',
            checkedKey: 'url',
            height: '300',
            width: '400',
            table: {
                url: '${request.contextPath}/jobmenu/openApiList',
                headers: {"auth0": user.authToken},
                cols: [[
                    {type: 'checkbox'},
                    {field: 'title', title: 'Api名称', width: 200},
                    {field: 'href', title: 'url', width: 200}
                ]]
            },
            page: false,
            done: function (elem, data) {
                var NEWJSON = []
                layui.each(data.data, function (index, item) {
                    NEWJSON.push(item.href)
                })
                elem.val(NEWJSON.join(","))
            }
        });
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                type: "POST",
                async: false,
                headers: {"auth0": user.authToken},
                url: "${request.contextPath}/openapi/save",
                data: JSON.stringify({
                    "apiName": data.field.apiName,
                    "apiDesc": data.field.apiDesc,
                    "jobGroup": data.field.jobGroup,
                    "urls": data.field.urls,
                }),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.code !== 200) {
                        layer.alert("添加失败【" + data.msg + "】", {
                            title: '操作结果',
                            icon: 2
                        }, function () {
                        });
                        return;
                    }
                    var index = layer.alert("添加成功", {
                        title: '操作结果',
                        icon: 1
                    }, function () {
                        // 关闭弹出层
                        layer.close(index);
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);
                    });
                }
            });
            return false;
        });
    });
</script>
</body>
</html>